{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock extra_css %}

{% block extra_title %}
    Delete Event
{% endblock extra_title%}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Delete</h1>
        </div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row row-box">
        <div class="text-center col-sm-12 col-md-8 offset-md-2">
            <h2>About to delete an event...</h2>
            <form action="{% url 'delete_event' event.id %}" method="POST">
                {% csrf_token %}
                <p class="py-5">Are you sure you want to delete event <br> <strong>"{{event}}"</strong>?</p>
                <a class="btn button-two w-50" href="{% url 'events' %}">Go Back</a>
                <input type="submit" class="btn button w-50" value="Confirm">
            </form>
        </div>
    </div>
</div>
{% endblock content %}