{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
    Events
{% endblock extra_title%}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Upcoming Events</h1>
        </div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row row-box">
        {% for event in all_events %}
        <div class="col-sm-12 col-md-6 col-lg-4 d-flex">
            <div class="card mb-3 rounded-2 flex-fill">
                <div class="text-center card-header fw-bold">{{event.title}}<br>
                    <small class="text-center">{{ event.event_type }}</small>
                </div>
                <div class="card-body">
                    <h2 class="event-icon text-center">
                        <i class="fas fa-apple-alt "></i>
                    </h2>
                    <p class="card-text buddy-list"><strong>Buddies: </strong>
                        {% for name in event.buddy_name.all %}
                        <br>{{ name }}
                        {% endfor %}
                    </p>
                    <p class="card-text date-time-list">
                        <strong>Date: </strong>{{event.date_of_event}}<br>
                        <strong>From:</strong> {{event.start_time}}<br> 
                        <strong>Till:</strong> {{event.end_time}}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>  
</div>
{% endblock content %}
