{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
    Events
{% endblock extra_title%}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Upcoming Events</h1>
        </div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row row-box">
        {% for event in all_events %}
        <div class="col-sm-6 col-md-3">
            <div class="card mb-3">
                <div class="card-header">{{event.title}}</div>
                <div class="card-body">
                    <h2 class="card-title">{{ event.type }}</h2>
                    {% for name in event.buddy_name.all %}
                    <p class="card-text">{{ bubby_name }}<br>
                        {{event.date_of_event}}<br>
                        {{event.start_time}} till {{event.end_time}}
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>  
</div>
{% endblock content %}
