{% extends 'base.html' %}
{% load static %}
{% block extra_title %}
Our Story
{% endblock%}

{% block page_header %}
    <div class="row header-container text-center">
        <div class="col-12">
            <h1>Our Story and Mission</h1>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
<div class="container container-sm">
    <div class="row row-box">
        <div class="container py-md-5">
            <div class="clearfix">
                <img src="{% static 'images/about-img.jpeg' %}" 
                class="story-img img-fluid col-md-6 float-md-end mb-3 ms-md-3"
                alt="picture of john williams and wife">
            
                <p>John Williams loved dogs, mostly large dogs. Growing up on a large
                    farm, John always had a lot of anumals to deal with, and enjoyed being 
                    with dogs the most.
                </p>
                <p>Later, running the family farm on his own, he took in several large dogs that
                    no one else could handle or had to be given up for various other reasons. 
                    After several attempts of rehoming the dogs, John came to realize that the rehoming 
                    efforts seem to have taken a toll on the dogs, causing them further emotional trauma. 
                    He decided that it was best to keep the dogs on his farm to live out the rest of their lives.
                </p>
                <p>A few of John's friends and buddies started helping him with the care and upkeep of the dogs.
                    This soon attracted the local community and beyond, and this is how <strong>The Buddy Clubhouse</strong>
                    came to be. People being able to care, sponsor and spend time with dogs on the John William's estate.
                </p>
                <p>In his passing, John left part of his estate to <strong>The Buddy Clubhouse</strong> which is run
                    by family and volunteers, and is partially sustained by the earnings from the farm and contributions from the public.
                </p>
                <p>
                    To date, this estate has been home to 57 dogs. Currently, there are 15 gentle giants roaming the compound.
                </p>
                <p>Our mission today has not diverged from the one John Williams strived towards - we give large breed dogs a good home,
                     keep them healthy and happy.
                    Above all that, we make sure that the dogs enjoy doing the things they are good at, 
                    and people get to enjoy the joys of being around these wonderful gentle giants.
                </p>
                <p>To get involved in the Buddy Program, take action! Click one of the links below </p>
                <a href="{% url 'contribution' %}" class="btn button">Contribute</a>
                <a href="{% url 'register' %}" class="btn button-two">Make An Account</a>
                <a href="{% url 'contact_us' %}" class="btn button">Contact Us</a>
               
            </div>
        </div>
    </div>
</div>
{% endblock content %}