{% extends 'base.html' %}
{% load static %}
{% block extra_css%}
    <link rel="stylesheet" href="{% static 'css/events.css' %}">
{% endblock extra_css %}
{% block extra_title %}
    Contact Us
{% endblock extra_title%}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Contact Us</h1>
            <p>Fill out this form and we will get back to you as soon as we can</p>
        </div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row row-box py-sm-1 py-md-3">
        <div class="col-sm-12 col-md-8 offset-md-2">
            <form action="{% url 'contact_us' %}" method="POST" class="form mb-2">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                    <label for="form-input" class="form-label">{{ field.label }}</label>
                    <br>
                    {{ field }}
                </div>
                {% endfor %}
                <div class="text-center">
                    <a href="{% url 'home' %}" class="btn button-two rounded-3">Cancel</a>
                    <button class="btn button rounded-3" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}


