{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extra_css %}

{% block page_header %}
    <div class="row header-container text-center">
        <div class="col-12">
            <h1 class="index-title">The Buddy Clubhouse</h1>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="index-box row text-center">
        <div class="col-sm-12 col-md-8 offset-md-2"> 
            <p class="index-text fixed-bottom d-none d-sm-block">
                <span ></span>
                A forever-home to many large and giant dogs that have, for various reasons, 
                lost their previous home.
                Read our story and find out how you can be part of <br>the Buddy Program.
                <br>Click the button below for more information!
            </p>
            <div class="index-button fixed-bottom text-center">
                <a class="btn button" href="{% url 'about' %}">story & mission</a>
            </div>
        </div>
    </div>

{% endblock content %}

