{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extra_css %}

{% block page_header %}
    <div class="row header-container text-center">
        <div class="col-12">
            <h1></h1>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="index-box row align-items-start">
        <div class="col-md-3">
            <h2 class="index-title display-5 fw-bold">The Buddy Program</h2>
            <p class="lh-md">
                <span class="summary-keyword">The Buddy Clubhouse</span>
                is the forever-home of many large and giat dogs that have, for various reasons, 
                lost their previous home.
                <br>
                If you love big dogs but don't have regular time to put in or space to own one,
                but would still love to spend time with one, why not come down and lend us a hand 
                whenever you can? 
                <br>Click the button below for more information!
            </p>
            <a class="btn button" href="#">story & mission</a>
        </div>
    </div>

{% endblock content %}

