{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
    Cart
{% endblock extra_title%}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Shopping Cart</h1>
            <p>Here are items you have placed in your cart</p>
        </div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="container mb-2">
    <div class="row row-box">
        <div class="col">
            <hr><h2 class="logo-font text-center mb-4">Itemization: </h2><hr>
        </div>
    </div>
    <div class="row row-box">
        <div class="col-sm-12 col-md-10 offset-md-1">
            {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="fw-bold">
                        <tr>
                            <th scope="col">Product</th>
                            <th class="d-none d-md-block d-sm-none" scope="col"><i class="fas fa-info"></i></th>
                            <th class="text-center" scope="col"><i class="fas euro-sign"></i></th>
                            <th class="text-center" scope="col">Qty</th>
                            <th class="text-center" scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in cart_items %}
                    <tr>
                        <td class="py-3">
                            <p class="my-0">{{ item.product.name }}</p>
                        </td>
                        <td class="py-3 d-none d-md-block d-sm-none">
                            <p class="my-0">{{ item.product.short_info }}</p>
                        </td>
                        <td class="py-3 text-center">
                            <p class="my-0">{{ item.product.price }}</p>
                        </td>
                        <td class="py-3 fw-bold">
                            <form method="POST" action="{% url 'adjust_cart' item.item_id %}" class="update-form">
                                {% csrf_token %}
                                <div>
                                    <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                    data-item_id="{{ item.item_id }}" class="id_qty_{{ item.item_id }} form-control form-control-sm qty-input">
                                </div>
                            </form>
                            <a class="update-link float-end text-alert"><small><i class="fas fa-sync-alt"></i></small></a>
                        </td>
                        <td class="py-3 text-center">
                            <p class="my-0">{{ item.product.price| cal_subtotal:item.quantity }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5">
                            <a href="{% url 'contribute' %}" class="btn button gap-2">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">keep shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="button-two btn">
                                <span class="text-uppercase">secure checkout</span>
                                <span class="icon">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
                <p class="lead mb-5">Your cart is empty</p>
                <a href="{% url 'contribute' %}" class="button btn">
                    <span>
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">keep shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block postloadjs %}
<script type="text/javascript">
    $('.update-link').click(function(e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })
</script>
{% endblock postloadjs %}
