:root {
    --navbar-color: #E2D5D5;
    --logo-color: #865858;
    --icon-color: #C56BB2;
    --navlink-color: #483434;
    --navhover-color: #81B214;
    --active-color: #595B83;
    --button-color: #6C4A4A;
    --light: #EDEDED;
    --dark: #2D2424;
    --black: #090910;
    --light-pink: #DDBEBE;
}

/* Utilities */
html {
    height: 100vh;
    width: 100vw;
}
body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: var(--light);
    height: 100vh;
    width: 100wh;
}

.button {
    background-color: var(--button-color);
    color: var(--light);
    letter-spacing: 0.2rem;
    border: none;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}

.button:hover {
    background-color: var(--navhover-color);
    border: 1px solid var(--button-color);
    color: var(--button-color);
}

.button-two {
    background-color: var(--active-color);
    color: var(--light);
    letter-spacing: 0.2rem;
    border: none;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}

.button-two:hover {
    background-color: var(--light-pink);
    color: var(--dark);
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

a:hover {
    color: var(--navhover-color);
}

.header-container {
    margin-top: 99px;
    text-align: center;
}

.row-box {
    padding-bottom: 4rem;
}

/* Navigation */

.navbar {
    padding: 0 1rem;
    background: var(--navbar-color);
    color: var(--black);
}

.navbar-toggler {
    color: black;
    border-color: var(--dark);
    margin-right: 2rem;
}

.nav-togger > span {
    color: var(--black);
}

.brand_logo {
    color: var(--logo-color);
}

.offcanvas {
    padding: 1rem;
    z-index: 99999;
}

.offcanvas-title {
    font-size: 2rem;
    font-family: 'Montez', cursive;
    color: var(--logo-color);
    padding-left: 1rem;
}

.offcanvas-header {
    padding: 0;
}

.offcanvas-body {
    padding: 0;
}

ul.footer-items {
    padding-left: 0.5rem;
}

ul.navbar-nav {
    padding-top: 0.5rem;
    padding-left: 1rem;
}

.nav-link {
    color: var(--button-color);
    font-size: 1rem;
    padding-left: 1rem;
}

.nav-link i {
    padding-right: 1rem;
}

.nav-link:hover {
    color: var(--navhover-color);
    border-bottom: 1px solid var(--black);
}

.search-form > input,
.search-form > button {
    font-size: 0.7rem;
}

button.navbar-toggler {
    border: 1px solid black;
    height: 4rem;
    width: 4rem;
    font-weight: 600;
    margin: 0.5rem;
}

.footer-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-evenly;
}

.footer-items {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.footer-items li i {
    color: var(--icon-color);
    text-shadow: var(--black);
    font-size: 2rem;
}

.footer-items li i:hover {
    color: var(--navhover-color);
}

ul.footer-item {
    padding-left: 0;
}

/* about page */
.story-img {
    height: 18rem;
    width: 20rem;
    border: 1px solid var(--dark);
    border-radius: 0.5rem;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: var(--dark);
    border-radius: 5px;
    color: var(--light);
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

.about-block p {
    letter-spacing: 1.2px;
} 

.about-buttons {
    width: 100%;
    margin-bottom: 0.5rem;
}

/* alert messages */
ul.messages {
    text-align: center;
    list-style: none;
    margin-right: 1.2rem;
    margin: 97px 4px 0 4px;
}

ul.messages > li {
    border-radius: 1rem;
    padding: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    border: 3px dotted;
}

ul.messages > li:hover {
    background-color: var(--icon-color);
}

.alert--error {
    background-color: var(--light-pink);
}

.alert--success {
    background-color: var(--navhover-color);
}

.alert--warning {
    background-color: rgb(243, 54, 101);
}

.alert--info {
    background-color: var(--active-color);
}

/* dogs */

i.fas.fa-dog {
    font-size: 3rem;
    right: 2rem;
    bottom: 2rem;
    position: absolute;
    color: var(--logo-color);
}

.header-set {
    margin-bottom: 1rem;
}

/* contribution & cart */
a i.cart-icon {
    font-size: 2rem;
    padding-right: 0.7rem;
    color: var(--logo-color);
}

a.cart-link {
    font-size: 1rem;
    color: var(--navlink-color);
    text-decoration: none;
} 

.update-form {
    padding-top: 0;
}

.update-link {
    text-decoration: none;
    color: var(--icon-color);
}

.update-link,
.remove-item {
    cursor: pointer;
}

.cart-button {
    width: 100%;
    margin-bottom: 0.5rem;
}

input.btn.button {
    margin: 1rem 0;
    width: 100%;
}

.donation-headline {
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
}

/* Blog */
.blog-text {
    letter-spacing: 1px;
}

/* Events */
.event-icon > i {
    font-size: 4rem;
    color: var(--navhover-color);
}

.buddy-list {
    padding: 1rem 3rem;
}

.date_time-list {
    padding: 0 3rem;
}

/* MEDIA QUERIES */

@media (min-width: 375px) {
    .story-img {
        height: 22rem;
        width: 22rem;
    }

    .buddy-list {
        padding: 1rem 5rem;
    }
    
    .date_time-list {
        padding: 0 5rem;
    }

}

@media (min-width: 414px) {
    .story-img {
        height: 23rem;
        width: 25rem;
    }
}

@media (min-width: 768px) {
    .header-container {
        margin-top: 112px;
    }

    .navbar {
        padding: 0 2rem;
    }

    .offcanvas-header {
        padding: 1rem 2rem;
    }

    .offcanvas-body {
        padding: 1.2rem;
    }

    .search-form > input,
    .search-form > button {
    font-size: 1rem;
    }

    ul.navbar-nav {
        padding-top: 2rem;
    }

    .nav-link {
        font-size: 1.8rem;
    }

    ul.footer-items {
        padding-left: 0;
    }

    .quote {
        width: 52%;
    }

    .btn {
        width: unset;
    }

}

@media (min-width: 992px) {
    .quote {
        width: 64%;
    }
}

@media (min-width: 1200px) {

    .navbar {
        padding: 0 1rem;
    }

    .offcanvas-header {
        padding: 0.5rem 1rem;
    }

    .offcanvas-title {
        font-size: 2.6rem;
    }

    .quote {
        width: 69%;
    }

    a i.cart-icon {
        font-size: 3rem;
    }
    
    a.cart-link {
        font-size: 1.7rem;
    } 
}

@media (min-width: 1400px) {
    .quote {
        width: 71%;
    }
}
