:root {
    --navbar-color: #E2D5D5;
    --logo-color: #865858;
    --icon-color: #C56BB2;
    --navlink-color: #483434;
    --navhover-color: #81B214;
    --active-color: #595B83;
    --button-color: #6C4A4A;
    --light: #EDEDED;
    --dark: #2D2424;
    --black: #090910;
    --light-pink: #DDBEBE;
}

body {
font-family: 'Montserrat Alternates', sans-serif;
background-color: var(--light);
height: 100vh;
}

.header-container {
margin-top: 112px;
}

.row-box {
padding-bottom: 4rem;
}

.offcanvas {
padding: 1rem;
}

a:hover {
color: var(--navhover-color);
}

.button {
background-color: var(--button-color);
color: var(--light);
letter-spacing: 0.2rem;
border: none;
padding: 0.5rem 1rem;
text-transform: uppercase;
}

.button:hover {
background-color: var(--light);
color: var(--button-color);
}

.button-two {
background-color: var(--active-color);
color: var(--light);
letter-spacing: 0.2rem;
border: none;
padding: 0.5rem 1rem;
text-transform: uppercase;
}

.button-two:hover {
background-color: var(--light-pink);
color: var(--dark);
}

.icon {
align-items: center;
display: inline-flex;
justify-content: center;
height: 1.5rem;
width: 1.5rem;
}

/* Navigation */

.navbar {
background: var(--navbar-color);
color: var(--black);
}

.fa-paw {
color: var(--logo-color);
padding-left: 1rem;
}

.navbar-toggler {
color: rgba(0,0,0,.55);
border-color: var(--dark);
margin-right: 2rem;
}

.logo-title {
font-size: 2rem;
font-family: 'Montez', cursive;
color: var(--logo-color);
padding-left: 1rem;
}

ul.navbar-nav {
padding-left: 1rem;
padding-top: 3rem;
}

.nav-link {
color: var(--button-color);
font-size: 1.5rem;
padding-left: 1rem;
}

.navbar-light .navbar-nav .nav-link.active {
color: var(--icon-color);
}
.navbar-light .navbar-nav .nav-link {
color: var(--logo-color);
}

#offcanvasNavbarDropdown:hover,
.dropdown-item:hover {
color: var(--navhover-color);
}

.footer-box {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
justify-content: space-evenly;
}

.footer-items {
display: flex;
justify-content: space-evenly;
list-style: none;
}

.footer-items li i {
color: var(--icon-color);
text-shadow: var(--black);
font-size: 2rem;
}

.footer-items li i:hover {
color: var(--navhover-color);
}

/* about page */
.story-img {
    height: 20rem;
    width: 20rem;
    border: 1px solid var(--dark);
    border-radius: 0.5rem;
}
