:root {
    --navbar-color: #E2D5D5;
    --logo-color: #865858;
    --icon-color: #C56BB2;
    --navlink-color: #483434;
    --navhover-color: #81B214;
    --active-color: #595B83;
    --button-color: #6C4A4A;
    --light: #EDEDED;
    --dark: #2D2424;
    --black: #090910;
    --light-pink: #DDBEBE;
}

body {
    background: url('/media/homepage-bg.jpg')no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.header-container {
    margin-top: 99px;
}

.index-box {
    height: 100vh;
}

.index-title{
    font-size: 2.5rem;
    color: var(--light-pink);
    text-shadow: var(--button-color) 2px 1px 1px;
    font-family: 'Montez', cursive;
}

.index-text {
    color: var(--light-pink);
    text-shadow: var(--button-color) 2px 1px 1px;
    padding: 0 4rem 7rem;
    z-index: -99999999;
}

.index-button {
    padding-bottom: 4rem;
    z-index: 2;
}

.button {
    display: inline;
    font-size: 0.8rem;
}

/* tablet */
@media (min-width: 768px) {
    .index-title {
        font-size: 5.5rem;
    }

    .index-text {
        font-size: 1.8rem;
    }

    .button {
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }
}

@media (min-width: 1200px) {
    .index-text {
        padding-left: 14rem;
        padding-right: 14rem;
    }
}