:root {
    --navbar-color: #E2D5D5;
    --logo-color: #865858;
    --icon-color: #C56BB2;
    --navlink-color: #483434;
    --navhover-color: #81B214;
    --active-color: #595B83;
    --button-color: #6C4A4A;
    --light: #EDEDED;
    --dark: #2D2424;
    --black: #090910;
    --light-pink: #DDBEBE;
}

body {
    background: url('/media/homepage-bg.jpg')no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.header-container {
    margin-top: 99px;
}

.index-box {
    position: absolute;
    padding: 0 2rem;
    bottom: 0;
    width: 100%;
    height: 100vh;
    text-shadow: var(--light-pink) 2px 1px 1px;
}

.index-title{
    position: absolute;
    top: 6rem;
    left: 22%;
    font-size: 2rem;
    text-align: center;
    color: var(--black);
    font-family: 'Montez', cursive;

}

.index-text {
    position: absolute;
    bottom: 3rem;
    color: var(--light);
}

.index-button {
    position: absolute;
    bottom: 1rem;
    left: 22%;
}

.button {
    display: inline;
    font-size: 0.8rem;
}

