:root {
    --navbar-color: #E2D5D5;
    --logo-color: #865858;
    --icon-color: #C56BB2;
    --navlink-color: #483434;
    --navhover-color: #81B214;
    --active-color: #595B83;
    --button-color: #6C4A4A;
    --light: #EDEDED;
    --dark: #2D2424;
    --black: #090910;
    --light-pink: #DDBEBE;
}

.user-name {
    color: var(--active-color);
}

input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--black);
    background-color: var(--light);
    background-clip: padding-box;
    border: 0.06rem solid var(--button-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.button {
    width: 100%;
    margin-bottom: 0.5rem;
}

.form-error {
    color: var(--icon-color);
}

.form-anchor {
    padding-left: 0.5rem;
}
 
ul {
    padding-left: 1rem;
    padding-top: 1rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--logo-color);
}

a:hover {
    color: var(--navhover-color);
}

/* media queries */
/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */

