:root {
    --navbar-color: #E2D5D5;
    --logo-color: #865858;
    --icon-color: #C56BB2;
    --navlink-color: #483434;
    --navhover-color: #81B214;
    --active-color: #595B83;
    --button-color: #6C4A4A;
    --light: #EDEDED;
    --dark: #2D2424;
    --black: #090910;
    --light-pink: #DDBEBE;
}

.user-name {
    color: var(--active-color);
}

input,
textarea {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--black);
    background-color: var(--navbar-color);
    background-clip: padding-box;
    border: 0.06rem solid var(--button-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
    width: 4rem;
}

/* Profile Image Custom Widget */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}
.custom-control-label {
    color: var(--icon-color);
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: var(--navhover-color);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label:before {
    background-color: var(--navhover-color);
    border-color: var(--navhover-color);
    border-radius: 0;
}

#id_name_of_buddy {
    background-color: var(--navbar-color);
}

.button {
    width: 100%;
    margin-bottom: 0.5rem;
}

.form-error {
    color: var(--icon-color);
}

.form-anchor {
    padding-left: 0.5rem;
}
 
ul {
    padding-left: 1rem;
    padding-top: 1rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--logo-color);
}

a:hover {
    color: var(--navhover-color);
}

/* setting for account */
.blog-img {
    height: 500px;
    width: 500px;
    border: 5px solid black;
    border-radius: 5px;
} 

/* media queries */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .account-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
     
/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {

}
/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }







// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */

