{% extends 'base.html' %}
{% load static %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock extra_css %}

{% block extra_title %}
    user-account
{% endblock extra_title%}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">User Account of <span class="user-name">{{ profile.user.username | title }}</span> </h1>
        </div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row row-box py-md-3">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <a href="{% url 'edit_account' %}" class="btn button">
                    <i class="fas fa-user-edit"></i> Edit
                </a>
                <img src="{{ profile.profile_image.url }}"}} class="card-img-top img-fluid w-100 h-50" alt="{{ profile.user.username }}">
                <div class="card-body">
                    <h2 class="card-title fw-bold text-center">{{ profile.user.username }}</h2>
                    <p class="card-text text-center">{{ profile.first_name|title}} {{ profile.last_name }}</p>
                    <hr>
                    <h3>somethingsomethingsomething</h3>
                    <div class="card-link"><a href="{% url 'profile' profile.id %}">
                        <i class="fas fa-user-tag"></i>
                    </a></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 d-flex">
            <div class="card mb-3 flex-fill">
                <div class="account-header card-header text-center">
                    <h2 class="card-title text-center py-lg-2 ">Blogs by <strong>{{ profile.user.username }}</strong></h2>
                    <a href="{% url 'write_blog' %}" class="text-center btn button-two">
                    <i class="fas fa-feather-alt"></i> write a blog</a>
                </div>
                <br>
                {% for blog in profile.blog_set.all %}
                <div class="col-12 shadow-lg bg-body px-2 rounded-5">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{%  url 'blog_entry' blog.id %}">{{ blog.title }}</a></h5>
                        <h6 class='text-light text-muted'>written on {{ blog.date_of_entry }} about {{ blog.name_of_buddy}} </h6>
                        <p class="card-text">{{ blog.blog_entry|slice:"200"}}...</p>
                        <a class="btn button-two" href="{% url 'edit_blog' blog.id %}">
                            Edit
                        </a>
                        <a class="btn button-two" href="{% url 'delete_blog' blog.id %}">
                            Delete
                        </a>
                    </div>
                </div>
                <br>
                {% endfor %} 
            </div>
        </div>
    </div>
</div>
{% endblock content %}

