{% extends 'base.html' %}
{% load static %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock extra_css %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">User Account of <span class="user-name">{{ profile.user.username | title }}</span> </h1>
        </div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row py-sm-1 py-md-3">
        <div class="col-sm-12 col-md-6 col-lg-3 g-3 d-flex">
            <div class="card flex-fill">
                <a href="{% url 'edit_account' %}" class="btn button">
                    <i class="fas fa-user-edit"></i> Edit
                </a>
                <img src="{{ profile.profile_image.url }}"}} class="card-img-top img-fluid w-100 h-50" alt="{{ profile.user.username }}">
                <div class="card-body">
                    <h5 class="card-title fw-bold text-center">{{ profile.user.username }}</h5>
                    <p class="card-text text-center">{{ profile.first_name|title}} {{ profile.last_name }}</p>
                    <hr>
                    <h6>somethingsomethingsomething</h6>
                    <div class="card-link"><a href="{% url 'profile' profile.id %}">
                        <i class="fas fa-user-tag"></i>
                    </a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}