{% extends 'base.html' %}
{% load static %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock extra_css %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">User Profile</span> </h1>
        </div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row py-sm-1 py-md-3">
        <div class="col-4">
            <div class="card text-center">
                <div class="card-header">
                    <h2>{{ profile.username|title }}</h2>
                </div>
                <img class="card-img-top img-fluid profile-image" src="{{ profile.profile_image.url }}" alt="{{ profile.username }}">
                <div class="card-body lh-1">
                    <div class="card-title">
                        <p>Name: <br>{{ profile.first_name|title }} {{ profile.last_name|title}}</p>
                        <p>Email: <br>{{ profile.email }}</p>
                        <p>Address: <br> {{ profile.address }} <br> {{ profile.postal_code }}</p>
                        <p>Contact Number: <br> {{ profile.contact_number }}</p>
                    </div>
                    <div class="card-text">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime ad fugit laborum expedita inventore eius nisi deleniti sint saepe explicabo, sunt voluptatum itaque quas hic odit modi? Qui aliquam neque numquam voluptatum distinctio, harum in iste iusto illo consectetur a, ipsam, quis soluta eos deserunt culpa nesciunt nam fugiat corporis laborum consequuntur? Suscipit, beatae. Ea harum aspernatur iure voluptatum veritatis facilis soluta natus a rem obcaecati, corporis autem molestiae! Dignissimos sed architecto praesentium et earum? Ex voluptates vero at tempora, cum commodi. Expedita omnis neque blanditiis, reiciendis libero aliquid doloribus ducimus ipsum numquam labore laudantium, unde quidem optio facilis nulla?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

