{% extends 'base.html' %}
{% load static %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock extra_css %}

{% block extra_title %}
    Users
{% endblock extra_title%}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Members</span></h1>
        </div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row">
        {% for profile in profiles %}
        <div class="col-sm-6 col-lg-3 g-3 d-flex">
            <div class="card flex-fill">
                <img src="{{ profile.profile_image.url }}" class="card-img-top img-fluid w-100" alt="{{ profile.user.username }}">
                <div class="card-body">
                    <h5 class="card-title fw-bold text-center">{{ profile.user.username }}</h5>
                    <p class="card-text text-center">{{ profile.first_name|title }} {{ profile.last_name|title }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}