{% extends 'base.html' %}
{% load static %}

{% block extra_css%}
  
{% endblock extra_css %}

{% block extra_title %}
    Blog Board
{% endblock extra_title%}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Read The Blogs</h1>
        </div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row row-box">
        {% for blog in all_blogs %}
        <div class="col-sm-6 col-md-6 col-lg-4 g-3 d-flex">
            <div class="card flex-fill">
                <img src="{{ blog.featured_image.url }}" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    {{blog.title}}
                    <div class="card-link"><a href="{% url 'blog_post' blog.id %}"><i class="fas fa-blog"></i></a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>  
</div>
{% endblock content %}
