{% extends 'base.html' %}
{% load static %}

{% block extra_css%}
  
{% endblock extra_css %}

{% block extra_title %}
    Blog Board
{% endblock extra_title%}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Read The Blogs</h1>
        </div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row row-box">
       
    </div>  
</div>
{% endblock content %}
