{% extends 'base.html' %}
{% load static %}

{% block extra_css%}
  l
{% endblock extra_css %}

{% block extra_title %}
    Blog Post
{% endblock extra_title%}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Blog Post {{ blog_post.username }}</h1>
        </div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="container container-sm">
    <div class="row row-box">
        <div class="container py-md-5">
            <div class="clearfix">
                <img src="{{ blog_post.featured_image.url }}" alt="{{ blog_post.title }}"
                 class="img-fluid col-md-6 float-md-end mb-3 ms-md-3">
                 <p><strong class="pe-4">Title:</strong><br> {{ blog_post.title }}</p>
                 <p><strong class="pe-4">Author: </strong><br>{{ blog_post.username }}</p>  
                 <p><strong class="pe-4">Date:</strong><br> {{ blog_post.date_of_entry }}</p>
                 <p><strong class="pe-4">Buddy:</strong><br> {{ blog_post.name_of_buddy }}</p>
                 <hr>
                 <p><strong class="pe-4">Blog:</strong><br> {{ blog_post.blog_entry }}</p>
            </div>
                <a href="{% url 'blogs' %}" class="btn button">Return to Blogs</a>
                <a href="#" class="btn button">Become a Member</a>  
        </div>
    </div>
</div>
{% endblock content %}
