{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
    Blog Board
{% endblock extra_title%}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Read The Blogs</h1>
        </div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row row-box">
        {% for blog in all_blogs %}
        <div class="col-sm-6 col-md-6 col-lg-4 g-3 d-flex">
            <div class="card flex-fill">
                {% if blog.featured_image %}
                <img src="{{ blog.featured_image.url }}" alt="" class="h-75 blog-img card-img-top img-fluid">
                {% else%}
                <img src="{{ MEDIA_URL }}blogs/blog_default.png" class="h-75 blog-img card-img-top img-fluid" alt="">
                {% endif %}
                <div class="blog-body card-body">
                    <p><strong>{{blog.title}}</strong></p>
                    <p><strong class="me-2">Author:</strong>{{blog.username}}</p>
                    <p><strong class="me-2">Date:</strong>{{blog.date_of_entry}}</p>
                    <div class="card-link"><a href="{% url 'blog_entry' blog.id %}"><i class="blog-link fas fa-blog"></i></a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>  
</div>
{% endblock content %}
