{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
    Blog Post
{% endblock extra_title%}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Blog Post {{ blogpost.username }}</h1>
        </div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="container container-sm">
    <div class="row row-box py-sm-3">
        <div class="card d-flex px-sm-5 py-3">
        <div class="col-sm-12 py-md-5">
            <div class="clearfix">
                {% if blogpost.featured_image %}
                <img src="{{ blogpost.featured_image.url }}" alt="{{ blogpost.title }}"
                 class="img-fluid col-md-6 py-4 float-md-end mb-3 ms-md-3">
                 {% endif %}
                 <p><strong class="pe-4">Title:</strong><br> {{ blogpost.title }}</p>
                 <p><strong class="pe-4">Author: </strong><br>{{ blogpost.username }}</p>  
                 <p><strong class="pe-4">Date:</strong><br> {{ blogpost.date_of_entry }}</p>
                 <p><strong class="pe-4">Buddy:</strong><br> {{ blogpost.name_of_buddy }}</p>
                 <hr>
                 <p><strong class="pe-4">Blog:</strong><br><span class="blog-text">{{ blogpost.blog_entry }}</span></p>
            </div>
            <div class="text-center pt-md-4">
                {% if request.user.is_authenticated %}  
                    {% if blogpost.username.user == request.user %}
                    <a href="{% url 'account' %}" class="btn button-two about-button">Account</a>
                    <a href="{% url 'edit_blog' blogpost.id %}" class="btn button about-button">Edit</a>
                    {% endif %}
                {% endif %}
                <a href="{% url 'blogs' %}" class="btn button-two about-button">Return to Blogs</a>
                <a href="{% url 'register' %}" class="btn button about-button">Become a Member</a> 
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock content %}


