{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock meta %} 

    {% block corecss %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montez&family=Montserrat+Alternates:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock corecss %} 
    
    {% block corejs %}
        <script src="https://kit.fontawesome.com/64cc6f8564.js" crossorigin="anonymous"></script>
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    {% endblock corejs %}

    <title>Buddy Clubhouse{% block extra_title%}{% endblock %}</title>
  </head>
  <body>
      <div class="container-fluid">
        <div class="wrapper">
          <nav class="sidenav">
            <div class="sidenav-header">
              <a href="{% url 'home' %}" class="navbar-brand"><i class="fas fa-paw fa-3x"></i></a>
              <h1>Buddy<br><span class="small-logo"> clubhouse</span></h1>
            </div>
            <form action="" method="GET">
              <div class="input-group">
                <input type="text" name="q" placeholder="Search our site" class="form-control rounded-2">
                <div class="input-group-append">
                  <button class="form-control border btn search-button" type="submit" aria-label="search-button">
                    <span><i class="fas fa-search"></i></span>
                  </button>
                </div>
              </div>
            </form>
            <ul class="nav">
              <li class="nav-item">
                <a href="" aria-current="page" class="nav-link active">home</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">our story</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">the buddies</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">how to help</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Membership</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">contact us</a>
              </li>

              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a href="" class="nav-link">profile</a>
                </li>

                  {% if request.user.is_member %}
                    <li class="nav-item">
                      <a href="" class="nav-link">book a playdate</a>
                    </li>
                  {% endif %}

                <li class="nav-item">
                  <a href="{% url 'account_logout' %}" class="nav-link">logout</a>
                </li>
                
                  {% if request.user.is_superuser %}
                    <li class="nav-item">
                      <a href="" class="nav-link">manage website</a>
                    </li>
                  {% endif %}

              {% else %}
                <li class="nav-item">
                  <a href="{% url 'account_signup' %}" class="nav-link">register</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'account_login' %}" class="nav-link">login</a>
                </li>
              {% endif %}

            </ul>
          </nav>
          <div id="content">
            <button type="button" id="sidenavClose" aria-label="sidenavtoggle-button" class="navbar-btn">
              <span></span>
              <span></span>
              <span></span>
            </button>

            {% if message %}
              <div class="message-container">

              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% block page_header %}
    {% endblock page_header %}

    {% block content %}
    {% endblock content %}

    {% block postloadjs %}
    <script>
      $(document).ready(function () {
        $('#sidenavClose').on('click', function() {
          $('#sidenav').toggleClass('active');
          $(this).toggleClass('active');
        });
      });
    </script>
    {% endblock postloadjs %}
  </body>
</html>
